---
layout: layouts/blog.njk
title: Updates from the Clinic
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---

<p class="lead">We will occasionally post updates on our projects and work here!</p>
