---
layout: layouts/default.njk
title: Work With Us
---
<hr/>
<p class="lead">Some lead in sentence. We work with clients to conduct research and develop technologies that advance the public interest. Our projects are driven by directed by our clients' needs and [address local issues in civic technology and policy].</p>
<hr/>
<h2>Information for project partners</h2>
<p>We are always looking to collaborate with advocates, community-based organizations, and public-sector agencies. If you are interested in working with us, please [fill out the form below/email us at xxaddress].</p>
<h2>Information for students</h2>
<p>We are looking for motivated undergraduate students located in the Puget Sound area to join project teams [over x amount of time]. Students may have x levels of experience//specific skills in data science, social science, or public policy. [Interns can expect x level of involvement in projects, z type of mentorship and learning opportunities.] If you are interested in working with us, please send an email to -- / fill out the application form below.</p>
